*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

nav{
    width: 100vw;
    z-index: 1;
    position: absolute;
    display: flex;
    justify-content: flex-end;

}

nav>ul{
    display: flex;
}

li{
    margin-right: 10px;
    justify-content: center;
    list-style: none;
    margin-left: 20px;
    color: white;
    font-size: 18px;
    font-weight: 500;

    /* background: linear-gradient( rgb(16, 1, 71), rgb(83, 238, 116));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

li:hover{
    cursor: pointer;
    color: yellow;
}

video{
    position: absolute;
    width: 100vw;
    height: 500px;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

.header-title {
    position: absolute;
    top:100px;
    left: 590px;
    justify-content: center;
    width: 250px;
    color: white;
    margin-top: 70px;
    
  }
  
  .header-title>h1{
      font-size: 70px;
      width: 100%;
  }
